<%= form_for @task, :remote => true do |f| %>
<div id="task_new">
  <p>
    <%= f.text_field :name, :value => "Enter your task here", :size => 19 %>
    <%= f.hidden_field :done, :value => false %>
    <%= f.submit "Add to list" %>
  </p>
</div>
<% end %>
</div>
